/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}



#menu {
    background-color: #38003c;
    height: 70px;
}

    #menu a {
        color: #fff;
        font-weight: bold;
        padding: 23px;
    }

        #menu a:hover {
            background-color: #e90052;
            transition: all 0.25s;
        }

#quangcao {
    background-color: #e4e5e7;
}

#menu button:hover {
    background-color: #dc3545;
    transition: all 0.25s;
}

#search1 {
    padding: 15px;
}

#bao_content {
    padding-top: 15px;
    background-color: #e4e5e7;
}

#main_content {
    background-color: #e4e5e7;
}
#footer {
    background-color: #38003c;
    height: 270px;
}
#trangphai {
    background: #fff;
    border-radius: 4px;
    padding: 0px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
    padding-bottom: 18px;
    margin:0 auto;
   width:100%;
}
s
.modal-header {
    padding: 20px 0px;
    text-align: center;
    position: relative;
    background-image: url("../pic/dangnhap/2.png");
}

.modal-header {
    border-bottom: none;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.modal-title {
    color: #38003c;
    text-transform: uppercase;
  
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-header .close {
    margin-top: -2px;
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}

.close:hover, .close:focus, .close {
    opacity: 1;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.modal-header a {
    position: absolute;
    top: 17px;
    padding: 7px 6px;
    right: 7px;
    line-height: 0px;
    text-align: center;
    border-radius: 50%;
}

.modal-body {
    position: relative;
    padding: 10px;
}

button.close a:before {
    content: url('../pic/dangnhap/icon-delete.png');
}

.original {
    display: none;
}

#cart-table th {
    padding-bottom: 10px;
    padding-top: 10px;
}

table tr td:first-child, table tr th:first-child {
    padding-left: 0px;
}

.modal-body th {
    font-size: 15px;
    color: #1C1C1C;
    font-weight: 600;
    text-align: left;
}

table tr td, table tr th {
    padding: 0px;
}

table tr td, table tr th {
    padding: 10px;
    text-align: left;
}

table tr td {
    border-top: 1px solid #dddddd;
}

.item-price {
    font-size: 16px;
}

item-delete {
    position: relative;
    width: 40px;
}

.item-image, .item-quantity1, .item-delete {
    padding-top: 5px;
    padding-bottom: 5px;
}

td.item-image {
    width: 170px;
    text-align: center;
}

#cartform table .item-title {
    max-width: 200px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-title {
    width: 40%;
    /* color: #3399cc; */
    font-size: 14px;
}

    .item-title a {
        text-decoration: none;
        outline: none;
        color: #b33551;
    }

td.item-title span {
    color: #000;
}

item input {
    width: 64px;
    text-align: center;
    height: 30px;
    border-radius: 3px;
    font-size: 14px;
    color: #808080;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 15px;
}

.item-price {
    font-size: 16px;
}

.item-delete a {
    color: #000;
    top: 0;
    margin: auto;
    height: 19px;
    right: 0px;
    left: 0;
    bottom: 0;
    display: block;
}


#content_foot {
    color: white;
    padding-top: 15px;
}

    #content_foot span {
        font-weight: bold;
    }

    #content_foot ul li a {
        color: white;
        text-decoration: none;
        list-style: none;
    }

#form_dangnhap {
    background-color: #e4e5e7;
    font-weight: bold;
}

    #form_dangnhap button:hover {
        background-color: #38003c;
    }

#btndangxuat {
    padding: 15px;
    font-weight: bold;
}

    #btndangxuat btn {
        background-color: yellow;
    }
